<li style="list-style:none;" class="elementId">
    <div class="col-12 mb-1">
        <div class="card border" style="margin-bottom:0px;">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="bg-info-400 rounded-pill text-center" style="width: 5rem;">
                            <span class="tipoTSRelacionado"></span>
                        </div>
                        <h4 class="nombreTSRelacionado"></h4>
                        <p>
                            <strong>Categoría:</strong> <span class="categoriaTSRelacionado">
                            </span>
                            <br>
                            <strong>Dependencia:</strong> <span class="dependenciaTSRelacionado"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>