<li style="list-style:none;" class="elementId">
    <div class="col-12 mb-1">
        <div class="card border shadow-hover">
            <div class="card-body">
                <div class="row">
                    <div class="col-2 d-flex align-items-center">
                        <a title="Editar" href="#" class="btn btn-secondary btn-icon rounded-circle waves-effect waves-themed editar">
                            <i class="fal fa-calendar-edit fs-md"></i>
                        </a>
                        <a title="Eliminar" href="#" class="ml-2 btn btn-info btn-icon rounded-circle waves-effect waves-themed eliminar">
                            <i class="fal fa-trash-alt fs-md"></i>
                        </a>
                        <h4><span class="ml-4 numero"></span></h4>
                    </div>
                    <div class="col-6">
                        <h4><span class="descripcion"></span></h4>
                    </div>
                    <div class="col-2 text-center">
                        <h4><span class="originalDetalle"></span></h4>
                    </div>
                    <div class="col-2 text-center">
                        <h4><span class="copiasDetalle"></span></h4>
                    </div>
                </div>
            </div>
        </div>
</li>