<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-4">
    <div class="card border m-auto m-lg-0 shadow-hover">
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <div class="d-block position-absolute p-1 bg-info-400 rounded-pill"><span class="tipoRemtys"></span></div>
                </div>
            </div>
        </div>
        <div class="card-body" style="min-height: 150px;">
            <h5 class="card-title mt-2 nombreTramite"></h5>
            <p class="card-text" style="margin-bottom: 0px;"><strong>Categoria: </strong><span class="nombreCategoria"></span> </p>
            <p class="card-text" style="margin-bottom: 0px;"><strong>Dependencia: </strong><span class="nombreDependencia"></span> </p>
        </div>
        <div class="card-footer text-right">
            <a title="Realizar en línea" href="#" class="realizar-linea card-link">Realizar en linea</a>
            <a title="Ver información" href="#" class="ver-informacion card-link">Ver información</a>
        </div>
    </div>
</div>