<li style="list-style:none;" class="elementId">
    <div class="col-12 mb-1">
        <div class="card border shadow-hover">
            <div class="card-body">
                <div class="row">
                    <div class="col-2 d-flex align-items-center" style="max-width: 11.66667%;">
                        <a title="Editar" href="#" class="btn btn-secondary btn-icon rounded-circle waves-effect waves-themed editar">
                            <i class="fal fa-calendar-edit fs-md"></i>
                        </a>
                        <a title="Eliminar" href="#" class="ml-2 btn btn-info btn-icon rounded-circle waves-effect waves-themed eliminar">
                            <i class="fal fa-trash-alt fs-md"></i>
                        </a>
                    </div>
                    <div class="col-10">

                        <h4><span class="orden text-success"></span>&nbsp;&nbsp;&nbsp;Nombre oficina: <span class="nombre"></span></h4>
                        <p> <i class="fal fa-user"></i>&nbsp;&nbsp;&nbsp;Titular:
                            <span class="titular"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>