<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
    <div class="card border m-auto m-lg-0 shadow-hover">
        <div class="row pt-3 pl-3 pr-3">
            <div class="col-sm-4">
                <span class="p-2 badge badge-info rounded-pill bg-info-700 tipoRemtys"></span>
            </div>
            <div class="col-sm-8 text-right">
                <span class="p-2 badge badge-info rounded-pill nombreEstatus"></span>
            </div>
        </div>
        <div class="card-body pt-1" style="min-height: 150px;">
            <h5 class="card-title mt-2 nombreTramite"></h5>
            <p class="card-text" style="margin-bottom: 0px;"><strong>Categoria: </strong><span class="nombreCategoria"></span> </p>
            <p class="card-text" style="margin-bottom: 0px;"><strong>Dependencia: </strong><span class="nombreDependencia"></span> </p>
        </div>
        <div class="card-footer text-right pb-0">
            <div class="demo">
                <a title="Flujo" href="javascript:void(0);" class="flujo btn btn-primary btn-icon rounded-circle waves-effect waves-themed">
                    <i class="fal fa-random"></i>
                </a>
                <a title="Gestión" href="#" class="gestionar btn btn-secondary btn-icon rounded-circle waves-effect waves-themed">
                    <i class="fal fa-calendar-edit fs-md"></i>
                </a>
                <a title="Eliminar" href="javascript:void(0);" class="eliminar btn btn-info btn-icon rounded-circle waves-effect waves-themed">
                    <i class="fal fa-trash-alt"></i>
                </a>
            </div>
        </div>
    </div>
</div>