<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-4">
    <div class="card border m-auto m-lg-0 shadow-hover">
        <img src="img/avatar.png" class="card-img-top usuarioFoto" style="height:210px;">
        <div class="card-body">
            <h5 class="card-title fullname"></h5>
            <p class="card-text" style="margin-bottom: 0px;"><strong>Nombre de usuario: </strong><span class="nombreUsuario"></span> </p>
            <p class="card-text" style="margin-bottom: 0px;"><strong>Correo: </strong><span class="correo"></span> </p>
            <p class="card-text" style="margin-bottom: 0px;"><strong>Celular: </strong><span class="celular"></span> </p>
            <p class="card-text" style="margin-bottom: 0px;"><strong>Sistema: </strong><span class="sistema"></span> </p>
            <p class="card-text" style="margin-bottom: 0px;"><strong>Perfil: </strong><span class="pefil"></span> </p>
        </div>
        <div class="card-body">
            <a href="#" class="card-link eliminar">Eliminar</a>
            <a href="#" class="card-link editar">Editar</a>
            <a href="#" class="card-link dependencias">Dependencias</a>
        </div>
    </div>
</div>