<div class="col-3 mb-4">
    <div class="card border m-auto m-lg-0">
        <img src="img/avatar.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title nombre"></h5>
            <p class="card-text" style="margin-bottom: 0px;"><strong>Usuarios: </strong><span class="numeroUsuarios"></span> </p>
            <p class="card-text"><strong>Sistema: </strong><span class="nombreSistema"></span> </p>
        </div>
        <div class="card-body text-right">
            <a href="#" class="card-link eliminar">Eliminar</a>
            <a href="#" class="card-link editar">Editar</a>
        </div>
    </div>
</div>