<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
    <div class="card border m-auto m-lg-0 shadow-hover">
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <div class="d-block position-absolute p-1 bg-info-400 rounded-pill"><span class="tipoRecurso"></span></div>
                </div>
                <div class="col-9">
                    <div class="d-block position-absolute p-1 bg-success-700 rounded-pill"><span class="tipoVisibilidad"></span></div>
                </div>
            </div>
        </div>
        <div class="card-body" style="height: 100px;">
            <h3 class="card-title mt-2 descripcion"></h3>
            <p class="card-text" style="margin-bottom: 0px;"><strong>Tipo: </strong><span class="tipoRecurso"></span> </p>
        </div>
        <div class="card-footer text-right pb-0">
            <div class="demo">
                <a title="Editar" href="#" class="editar btn btn-default btn-icon rounded-circle waves-effect waves-themed">
                    <i class="fal fa-calendar-edit fs-md"></i>
                </a>
                <a title="Descargar" href="javascript:void(0);" class="descargar btn btn-default btn-icon rounded-circle waves-effect waves-themed">
                    <i class="fal fa-download"></i>
                </a>
                <a title="Eliminar" href="javascript:void(0);" class="eliminar btn btn-default btn-icon rounded-circle waves-effect waves-themed">
                    <i class="fal fa-trash-alt"></i>
                </a>
            </div>
        </div>
    </div>
</div>