<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-4">
    <div class="card border m-auto m-lg-0 shadow-hover">
        <img src="img/categorias.jpeg" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title nombre"></h5>
            <p class="card-text" style="margin-bottom: 0px;"><strong>Tipo: </strong><span class="tipoRemtys"></span> </p>
        </div>
        <div class="card-body">
            <a href="#" class="card-link eliminar">Eliminar</a>
            <a href="#" class="card-link editar">Editar</a>
        </div>
    </div>
</div>