<li style="list-style:none;" class="elementId">
    <div class="col-12">
        <div class="card border" style="margin-bottom:0px;">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h4><span class="orden text-success"></span>&nbsp;&nbsp;&nbsp;Actor: <span class="tipoActorFlujo"></span></h4>
                        <p> <i class="fal fa-user"></i>&nbsp;&nbsp;&nbsp;
                            <span class="descripcion"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>