<html>

<head>
    <title>Recuperar contraseña</title>
</head>

<body style="background:#fafafa;">
    <div style="background:#ffffff; padding:50px; margin:10px; border:solid 1px #ccc;">
        <div style="font-size:15px; font-family:Arial;">Solicitud de recuperación de contraseña </div>
        <p style="font-family:Arial; font-size:15px;">
            Se ha generado una solicitud de cambio de contraseña para el sistema $Sistema
        </p>
        <p style="font-family:Arial; font-size:15px;">
            Para poder proceder al cambio de contraseña haga clic <a target="_blank" href="$Url">aqui</a>
        </p>
        <p style="font-family:Arial; font-size:15px;">
            Si usted no ha hecho esta solicitud, haga caso omiso de este correo
        </p>
    </div>
</body>

</html>