<header th:fragment="header" class="page-header" role="banner" th:style="'background-image:url(' + ${#authentication.principal.miMunicipio.urlBannerInterno} + ');'">
    <div class="page-logo">
        <a href="#" class="page-logo-link press-scale-down d-flex align-items-center position-relative" data-toggle="modal" data-target="#modal-shortcut">
            <img src="https://www.gotbootstrap.com/themes/smartadmin/4.0.1/img/logo.png" alt="SmartAdmin WebApp" aria-roledescription="logo">
            <span class="page-logo-text mr-1">SmartAdmin WebApp</span>
            <span class="position-absolute text-white opacity-50 small pos-top pos-right mr-2 mt-n2"></span>
            <i class="fal fa-angle-down d-inline-block ml-1 fs-lg color-primary-300"></i>
        </a>
    </div>
    <div class="hidden-md-down dropdown-icon-menu position-relative">
        <a href="#" class="header-btn btn js-waves-off" data-action="toggle" data-class="nav-function-hidden" title="Mostrar/ocultar menú">
            <i class="ni ni-menu"></i>
        </a>
    </div>

    <div class="ml-auto d-flex">
        <a href="#" data-toggle="dropdown" title="" class="header-icon d-flex align-items-center justify-content-center ml-2">
            <img class="mp-usuarioFoto profile-image rounded-circle" />
        </a>
        <div class="dropdown-menu dropdown-menu-animated dropdown-lg">
            <div class="dropdown-header bg-trans-gradient d-flex flex-row py-4 rounded-top">
                <div class="d-flex flex-row align-items-center mt-1 mb-1 color-white">
                    <span class="mr-2">
                <img class="mp-usuarioFoto profile-image rounded-circle" />
                        </span>
                    <div class="info-card-text">
                        <div class="fs-lg text-truncate text-truncate-lg mp-usuarioFullName"></div>
                        <span class="text-truncate text-truncate-md opacity-80 usuarioCorreo"></span>
                    </div>
                </div>
            </div>
            <a class="dropdown-item fw-500 pt-3 pb-3" th:href="@{/mi-perfil}">
                <span>Mi perfil</span>
            </a>
            <div class="dropdown-divider m-0"></div>
            <a class="dropdown-item fw-500 pt-3 pb-3" th:href="@{/logout}">
                <span>Cerrar sesión</span>
            </a>
        </div>
    </div>
</header>