<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>
        Acceder: Mejora Regulatoria Municipal
    </title>
    <meta name="description" content="Login">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
    <!-- Call App Mode on ios devices -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <link id="icono" rel="icon " type="image/png " sizes="32x32 ">
    <!-- base css -->
    <link rel="stylesheet" media="screen, print" th:href="@{/css/vendors.bundle.css}">
    <link rel="stylesheet" media="screen, print" th:href="@{/css/app.bundle.css}">
    <!-- Optional: page related CSS-->
    <link rel="stylesheet" media="screen, print" th:href="@{/css/page-login-alt.css}">

</head>

<body class="body mod-bg-1 mod-nav-link nav-function-fixed">
    <div>
        <div class="blankpage-form-field">
            <div class="card p-4 border-top-left-radius-0 border-top-right-radius-0">
                <form class="needs-validation was-validated" action="login" method="POST">

                    <div class="d-flex flex-column align-items-center justify-content-center p-4">
                        <img id="imgLogoLogin" th:src="@{/img/noimage.png}" class="shadow-2 img-thumbnail" alt="" style="height: 150px; width: 225;">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="username">Nombre de usuario</label>
                        <input type="text" id="username" name="username" class="form-control" required value="darea">
                        <span class="help-block">
                        Escriba su nombre de usuario
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="password">Contraseña</label>
                        <input type="password" id="password" name="password" class="form-control" required value="123">
                        <span class="help-block">
                        Escriba su contraseña
                        </span>
                    </div>
                    <button type="submit" class="btn btn-primary float-right btn-block">Acceder</button>
                </form>
                <br/>
                <div class="alert alert-primary" role="alert" th:if="${error}" th:text="${error}">
                </div>

                <div class="blankpage-footer text-center">
                    <a th:href="@{/recuperar-password}"><strong>¿Olvido su contraseña?</strong></a>
                </div>
            </div>



        </div>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        window.MRM_REMTYS_API_URL = /*[[${remtysApiUrl}]]*/ 'default';
        window.MRM_REMTYS_APP_URL = /*[[${remtysAppUrl}]]*/ 'default';
        settings = /*[[${settings}]]*/ 'default';
        /*]]>*/

        settings = JSON.parse(settings);
        window.APP_SETTINGS = JSON.parse(settings.theme);
    </script>

    <script th:src="@{/js/vendors.bundle.js}"></script>
    <script th:src="@{/js/settings.js}"></script>
    <script th:src="@{/js/login.js}"></script>
</body>

</html>