<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>
        Inicio
    </title>
    <meta name="description" content="Profile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
    <!-- Call App Mode on ios devices -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- base css -->
    <div th:replace="fragments/base-css :: base-css"></div>

</head>

<body class="mod-bg-1 mod-nav-link nav-function-fixed">
    <div class="page-wrapper">
        <div class="page-inner">
            <aside th:replace="fragments/sidebar :: sidebar"> </aside>
            <div class="page-content-wrapper">
                <header th:replace="fragments/header :: header"></header>
                <main id="js-page-content" role="main" class="page-content" th:style="'background-image:url(' + ${#authentication.principal.miMunicipio.urlFondoInterno} + ');'">
                    <div class="subheader" style="margin-bottom: calc(1rem);">
                        <h3 class="subheader-title">
                            <i class="subheader-icon fas fa-address-book"></i> Generales del municipio
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-xl-12">
                            <div class="card mb-g rounded-top p-4">
                                <form id="perfil-form">
                                    <div class="panel-content">
                                        <div class="form-row">
                                            <div class="col-md-4 mb-3">
                                                <div class="form-group">
                                                    <label class="form-label" for="estado">Estado</label>
                                                    <select id="estado" name="estado" class="custom-select" required>
                                                        <option value selected>Selecciona una opci&oacute;n</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <div class="form-group">
                                                    <label class="form-label" for="municipio">Municipio</label>
                                                    <select id="municipio" name="municipio" class="custom-select" required>
                                                        <option value selected>Selecciona una opci&oacute;n</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <div class="form-group">
                                                    <label class="form-label" for="administracion">Administración</label>
                                                    <input type="text" id="administracion" name="administracion" class="form-control" required>
                                                    <div class="invalid-feedback">
                                                        Escriba la administración
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <label class="form-label" for="nombreAMostrar">Nombre a mostrar del municipio</label>
                                                    <input type="text" id="nombreAMostrar" name="nombreAMostrar" class="form-control" required>
                                                    <div class="invalid-feedback">
                                                        Escriba un nombre a mostrar
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-12 text-right">
                                                <button id="guardar" class="editar btn btn-primary ml-auto waves-effect waves-themed" style="display: none;" type="submit">Guardar</button>
                                                <button id="guardarLoading" class="btn btn-info" type="button" disabled style="display: none;">
                                                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                                    Guardar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/base-scripts :: base-scripts"></footer>
    <script th:src="@{/js/mi-municipio.js}"></script>
</body>

</html>